.navbar {
  width: 80px;
  min-height: 100vh;
  background-color: rgb(220, 220, 255);
  position: absolute;
  top: 0;
  left: 0;
  position: absolute;
  transition: all 0.5s;
}

.icon--menuClose {
  font-size: 3rem;
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  font-variation-settings: "wght" 300;
  cursor: pointer;
}

.navbar .navigation-link-box {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  position: absolute;
  top: 10rem;
  left: 50%;
  transform: translateX(-50%);
}

.navigation-link-box li {
  list-style: none;
  position: relative;
}

.navigation-link-box li a span {
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  color: #5b5bff;
  transition: all 0.4s;
}

.navigation-link-box li a span:hover {
  transform: rotate(20deg);
}

