*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Poppins";
}

body {
  width: 100%;
  height: 100vh;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 37rem;
  height: 50rem;
  background-color: #fff;
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.container-section--top {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  position: relative;
}

.heading {
  margin: 0 auto;
  color: rgba(0, 0, 255, 0.547);
  font-size: 2.3rem;
}

.close-icon {
  transform: scale(1.5);
  color: #0000008b;
  position: absolute;
  right: 2px;
}

.container-section--help {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  color: #0000006e;
}

.container-section--enterOtp {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  gap: 2rem;
}

.input {
  width: 4rem;
  height: 4rem;
  border: 2px solid rgb(161, 161, 161);
  border-radius: 0.4rem;
  outline: none;
  padding: 1rem 1rem 1rem 1.3rem;
  font-weight: 600;
  font-size: 2rem;
  cursor: pointer;
  -moz-appearance: textfield;
}

.input:focus {
  border: 2px solid rgba(0, 0, 255, 0.547);
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button{
  -webkit-appearance: none;
}

.container-section--resend {
  margin-top: 5rem;
  display: flex;
  font-size: 1.6rem;
  justify-content: center;
  align-items: center;
}
.resend {
  color: rgba(0, 0, 255, 0.547);
  text-decoration: underline;
  cursor: pointer;
}

.container-section--verify {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn--verify {
  padding: 1rem 2rem;
  font-size: 2.2rem;
  font-weight: 600;
  background-color: rgba(0, 0, 255, 0.547);
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  cursor: pointer;
  width: 100%;
  height: 5rem;
}
