@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@400;500;600;700;800;900&family=VT323&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "VT323";
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  width: 100%;
  padding: 2rem;
}

.wrong {
  background-color: #ff0000c9;
}

.correct {
  background-color: yellowgreen;
}

.normal {
  background-color: #000000cc;
}

.container {
  width: 100%;
  height: 100%;
}

.range__section {
  display: flex;
  justify-content: space-between;
}

.againBtn {
  font-size: 2rem;
  background-color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.range {
  font-size: 2rem;
  color: #fff;
}

.primary__heading {
  font-size: 5rem;
  color: #fff;
  text-align: center;
  margin-top: 3rem;
}

.division {
  margin-top: 10rem;
  position: relative;
}

.line {
  width: 100%;
  height: 0.4rem;
  background-color: #fff;
}

.randomNumberBox {
  width: 8rem;
  height: 8rem;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: -8rem;
  transform: translate(-50%, 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.randomNumberBoxCover {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  transform: scale(0);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}

.container--bottom {
  padding: 2rem;
}

.randomNumber {
  font-size: 5rem;
}

.inputBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#input {
  width: 13rem;
  height: 5rem;
  padding: 2rem;
  font-size: 5rem;
  background-color: transparent;
  outline: none;
  border: 2.5px solid #fff;
  color: #fff;
}

.checkBtn {
  font-size: 2rem;
  background-color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-top: 2rem;
}

.status {
  font-size: 3rem;
  margin-top: 1rem;
  color: #fff;
}

.scoreBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  color: #fff;
  gap: 1rem;
}

.scoreBox div {
  display: flex;
  font-size: 3rem;
  align-items: center;
}
