@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", "sans-serif", "helvatica";
  width: 100vw;
  height: 100vh;
  background-color: #aa57cb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 30rem;
  background-color: #fff;
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

div:first-child {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 2rem;
}

input {
  margin-top: 1.2rem;
  padding: 1rem;
  font-size: 1.6rem;
  width: 100%;
  font-family: "Poppins", "sans-serif";
}

.count-Btn {
  font-size: 1.6rem;
  font-family: "Poppins", "sans-serif";
  padding: 1rem;
  background: #aa57cb;
  color: #fff;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
}

.result-text {
  font-size: 1.6rem;
}

.invisible{
    display: none;
}