.music_player {
  width: 30rem;
  height: 40rem;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.volume-box {
  position: absolute;
  left: 1.5rem;
}

.volume-track-total {
  width: 18px;
  height: 9rem;
  background-color: rgb(188, 188, 188);
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}

.volume-track-current {
  width: 100%;
  height: 50%;
  position: absolute;
  background-color: #4158d0;
  bottom: 0;
}

.volume_down_btn,
.volume_up_btn {
  width: 1.7rem;
  cursor: pointer;
}

.speaker_icon {
  width: 1.7rem;
  position: absolute;
  bottom: 4px;
  margin-left: 0.5px;
}

.cassete {
  width: 13rem;
  height: 13rem;
  margin-top: 2rem;
  border-radius: 50%;
  position: relative;
  background-image: url(assets/oppenhiemer.jpg);
  background-position: center;
  background-size: cover;
  animation: cassete-rotate 2s infinite linear;
  animation-play-state: paused;
}

/* cassete hole big*/
.cassete::after {
  content: "";
  width: 2rem;
  height: 2rem;
  background-color: rgb(38, 38, 38);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 99;
}

/* cassete hole small */
.cassete::before {
  content: "";
  width: 1rem;
  height: 1rem;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 999;
}

/* cassete rotate animation */
@keyframes cassete-rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.about-music {
  margin-top: 2rem;
}

.music-name {
  font-family: "Poppins-light";
  font-size: 1.8rem;
  text-align: center;
}

.author-name {
  font-family: "Poppins-bold";
  font-size: 1.2rem;
  color: rgb(131, 131, 131);
  text-align: center;
  margin-top: 0.5rem;
}

.music-time-box {
  display: flex;
  width: 100%;
  align-items: center;
  position: absolute;
  bottom: 9rem;
  font-family: "Poppins-bold";
  gap: 1rem;
  left: 50%;
  transform: translateX(-45%);
}

.music-time-box div:first-child {
  width: 3.5rem;
}

.music-track-total {
  width: 60%;
  height: 5px;
  background-color: rgb(188, 188, 188);
  border-radius: 2px;
  position: relative;
  overflow: hidden;
}

.music-track-current {
  height: 100%;
  width: 0%;
  position: absolute;
  background-color: #4158d0;
}

.control-box {
  position: absolute;
  bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.play_pause_icon {
  width: 5rem;
  cursor: pointer;
}

.previous_song_icon,
.next_song_icon {
  cursor: pointer;
  width: 3.3rem;
}
