*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    111.4deg,
    rgba(238, 113, 113, 1) 1%,
    rgba(246, 215, 148, 1) 58%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 40rem;
  height: 50rem;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0rem 1rem 3rem rgb(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.time__box {
  width: 100%;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  font-size: 5rem;
  font-weight: 600;
  color: #666666;
  position: relative;
  padding: 3rem;
}

.hour::selection,
.minute::selection,
.second::selection,
.colon::selection,
.period::selection {
  background-color: transparent;
}

.period {
  font-size: 1.4rem;
  position: absolute;
  right: 13%;
}

.hour,
.minute,
.second {
  width: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.colon {
  margin: 0 1rem 0 1rem;
}

.date__box {
  width: 100%;
  height: 30%;
  background-color: #333;
  font-family: "Poppins", sans-serif;
  color: #fff;
  border-top-right-radius: 0rem;
  border-top-left-radius: 5rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 3rem 0 3rem 3rem;
  box-shadow: -0.3rem -0.3rem 3rem rgba(0, 0, 0, 0.3);
}

.day {
  font-size: 4rem;
  font-weight: 600;
}

.date__box div {
  display: flex;
  align-items: baseline;
  font-size: 2.5rem;
}

.date {
  margin: 0 1rem 0 0;
}

.year {
  margin: 0 0 0 1rem;
}

.icon {
  width: 20rem;
  height: 20rem;
  color: rgba(238, 113, 113, 1);
}
