@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@400;500;600;700;800;900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins";
  height: 100vh;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.heading {
  font-size: 5rem;
  color: rgb(89, 89, 243);
}

.game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.block {
  width: 10rem;
  height: 10rem;
  border: 2px solid rgb(89, 89, 243);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Permanent Marker", cursive;
  font-size: 4rem;
  cursor: pointer;
}

.block::selection {
  background-color: none;
}


.one,
.two,
.three {
  border-top: none;
}

.one,
.four,
.seven {
  border-left: none;
}

.three,
.six,
.nine {
  border-right: none;
}

.seven,
.eight,
.nine {
  border-bottom: none;
}

.resetBtn{
    padding: 1rem;
    font-size: 1.5rem;
    color: #fff;
    background-color: rgb(89, 89, 243);
    border: none;
    border-radius: 0.5rem;
    font-weight: 500;
    cursor: pointer;
}

.resetBtn:active{
    transform: scale(0.96);
}

.status{
    border: 2px solid;
    padding: 1rem;
    border-radius: 0.3rem;
    color: rgba(0, 0, 0, 0.637);
}